<a href="https://colab.research.google.com/gist/siddharth-ncl-work/e465e7c88d2c2436152ac266e280de3b/lda_topic_modeling_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LDA (Topic Modeling)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Download Data

In [2]:
# !wget https://raw.githubusercontent.com/NarlikarLab/cisDIVERSITY/master/example.fa

## Extract and Transform

In [3]:
_data={'seq_no.':[],'seq':[],'module':[]}
for line in open('example.fa','r').readlines():
  if '>' in line[0]:
    id=line.split('_')[0].split(':')[1]
    _data['seq_no.'].append(id)
    module=int(line.split('_')[1].split(':')[1])
    _data['module'].append(module)
  else:
    _data['seq'].append(line)
data=pd.DataFrame.from_dict(_data)
print(f'Dataset Size = {data.shape[0]}')
data.head()

Dataset Size = 1000

  seq_no.                                                seq  module
0       0  GGAGGAGGAAGAGGCTGGGCCCCTGCTGTGTGGGGGCAAGTTCCCA...       0
1       1  CAAATACCCTGGGGTGCAATACGACTTATATCTCACGTATTGGAAG...       1
2       2  AACTAGGACACAGAAGTTGATCTAACGTAAACATCAAGAGCTTCCT...       1
3       3  CACAGCTGGGCCTGGTTGGTCTTTGTCCAGGGAACAATGGAGCGCC...       1
4       4  TTGTTTTATTTGTTTGTTGGGGGGCGGCGGGGAGCGACAGGGGAGT...       0

## Generate Motif Distribution

In [4]:
#m1
motif_data=-1000*np.ones(1000)
module1_data=data[data['module']==0]
module1_size=module1_data.shape[0]
motif_data[module1_data.index]=np.random.choice([0,1],size=module1_size,p=[0.8,0.2])
module2_data=data[data['module']==1]
module2_size=module2_data.shape[0]
motif_data[module2_data.index]=np.random.choice([0,1],size=module2_size,p=[0,1])
module3_data=data[data['module']==2]
module3_size=module3_data.shape[0]
motif_data[module3_data.index]=np.random.choice([0,1],size=module3_size,p=[1,0])
data['motif_1']=motif_data

In [5]:
#m2
motif_data=-1000*np.ones(1000)
module1_data=data[data['module']==0]
module1_size=module1_data.shape[0]
motif_data[module1_data.index]=np.random.choice([0,1],size=module1_size,p=[0,1])
module2_data=data[data['module']==1]
module2_size=module2_data.shape[0]
motif_data[module2_data.index]=np.random.choice([0,1],size=module2_size,p=[1,0])
module3_data=data[data['module']==2]
module3_size=module3_data.shape[0]
motif_data[module3_data.index]=np.random.choice([0,1],size=module3_size,p=[0.1,0.9])
data['motif_2']=motif_data

In [6]:
#m3
motif_data=-1000*np.ones(1000)
module1_data=data[data['module']==0]
module1_size=module1_data.shape[0]
motif_data[module1_data.index]=np.random.choice([0,1],size=module1_size,p=[0,1])
module2_data=data[data['module']==1]
module2_size=module2_data.shape[0]
motif_data[module2_data.index]=np.random.choice([0,1],size=module2_size,p=[1,0])
module3_data=data[data['module']==2]
module3_size=module3_data.shape[0]
motif_data[module3_data.index]=np.random.choice([0,1],size=module3_size,p=[1,0])
data['motif_3']=motif_data

In [7]:
#m4
motif_data=-1000*np.ones(1000)
module1_data=data[data['module']==0]
module1_size=module1_data.shape[0]
motif_data[module1_data.index]=np.random.choice([0,1],size=module1_size,p=[1,0])
module2_data=data[data['module']==1]
module2_size=module2_data.shape[0]
motif_data[module2_data.index]=np.random.choice([0,1],size=module2_size,p=[0.3,0.7])
module3_data=data[data['module']==2]
module3_size=module3_data.shape[0]
motif_data[module3_data.index]=np.random.choice([0,1],size=module3_size,p=[1,0])
data['motif_4']=motif_data

In [8]:
#m5
motif_data=-1000*np.ones(1000)
module1_data=data[data['module']==0]
module1_size=module1_data.shape[0]
motif_data[module1_data.index]=np.random.choice([0,1],size=module1_size,p=[1,0])
module2_data=data[data['module']==1]
module2_size=module2_data.shape[0]
motif_data[module2_data.index]=np.random.choice([0,1],size=module2_size,p=[1,0])
module3_data=data[data['module']==2]
module3_size=module3_data.shape[0]
motif_data[module3_data.index]=np.random.choice([0,1],size=module3_size,p=[0,1])
data['motif_5']=motif_data

In [9]:
module=0
print(data[data['module']==module]['motif_1'].value_counts(normalize=True))
print(data[data['module']==module]['motif_2'].value_counts(normalize=True))
print(data[data['module']==module]['motif_3'].value_counts(normalize=True))
print(data[data['module']==module]['motif_4'].value_counts(normalize=True))
print(data[data['module']==module]['motif_5'].value_counts(normalize=True))

0.0    0.7625
1.0    0.2375
Name: motif_1, dtype: float64
1.0    1.0
Name: motif_2, dtype: float64
1.0    1.0
Name: motif_3, dtype: float64
0.0    1.0
Name: motif_4, dtype: float64
0.0    1.0
Name: motif_5, dtype: float64

In [10]:
module=1
print(data[data['module']==module]['motif_1'].value_counts(normalize=True))
print(data[data['module']==module]['motif_2'].value_counts(normalize=True))
print(data[data['module']==module]['motif_3'].value_counts(normalize=True))
print(data[data['module']==module]['motif_4'].value_counts(normalize=True))
print(data[data['module']==module]['motif_5'].value_counts(normalize=True))

1.0    1.0
Name: motif_1, dtype: float64
0.0    1.0
Name: motif_2, dtype: float64
0.0    1.0
Name: motif_3, dtype: float64
1.0    0.717573
0.0    0.282427
Name: motif_4, dtype: float64
0.0    1.0
Name: motif_5, dtype: float64

In [11]:
module=2
print(data[data['module']==module]['motif_1'].value_counts(normalize=True))
print(data[data['module']==module]['motif_2'].value_counts(normalize=True))
print(data[data['module']==module]['motif_3'].value_counts(normalize=True))
print(data[data['module']==module]['motif_4'].value_counts(normalize=True))
print(data[data['module']==module]['motif_5'].value_counts(normalize=True))

0.0    1.0
Name: motif_1, dtype: float64
1.0    0.928571
0.0    0.071429
Name: motif_2, dtype: float64
0.0    1.0
Name: motif_3, dtype: float64
0.0    1.0
Name: motif_4, dtype: float64
1.0    1.0
Name: motif_5, dtype: float64

## Preprocessing

In [12]:
_data=data.copy()
_data['motif_1']=_data['motif_1'].map({1:'motif_1',0:'--'})
_data['motif_2']=_data['motif_2'].map({1:'motif_2',0:'--'})
_data['motif_3']=_data['motif_3'].map({1:'motif_3',0:'--'})
_data['motif_4']=_data['motif_4'].map({1:'motif_4',0:'--'})
_data['motif_5']=_data['motif_5'].map({1:'motif_5',0:'--'})

In [13]:
from gensim.corpora import Dictionary

_docs=_data[['motif_1','motif_2','motif_3','motif_4','motif_5']].values

In [14]:
_docs

array([['--', 'motif_2', 'motif_3', '--', '--'],
       ['motif_1', '--', '--', 'motif_4', '--'],
       ['motif_1', '--', '--', 'motif_4', '--'],
       ...,
       ['motif_1', '--', '--', 'motif_4', '--'],
       ['--', 'motif_2', '--', '--', 'motif_5'],
       ['motif_1', '--', '--', 'motif_4', '--']], dtype=object)

In [15]:
docs=[]
def processDoc(seq):
  motif_list=[]
  for motif in seq:
    if 'motif' in motif:
      motif_list.append(motif)
  return ','.join(motif_list)
for i,doc in enumerate(_docs):
  docs.append(processDoc(doc))
docs[:10]

['motif_2,motif_3',
 'motif_1,motif_4',
 'motif_1,motif_4',
 'motif_1,motif_4',
 'motif_2,motif_3',
 'motif_1,motif_4',
 'motif_1,motif_4',
 'motif_2,motif_3',
 'motif_1,motif_4',
 'motif_2,motif_3']

In [18]:
data['motif_string']=docs
print('NA Rows:')
print(data[data['motif_string'].isna()])
data.dropna(subset=['motif_string'],inplace=True)
data['motif_list']=data['motif_string'].apply(lambda x:x.split(','))
data

NA Rows:
Empty DataFrame
Columns: [seq_no., seq, module, motif_1, motif_2, motif_3, motif_4, motif_5, motif_string, motif_list]
Index: []

,seq_no.,seq,module,motif_1,motif_2,motif_3,motif_4,motif_5,motif_string,motif_list
0,0,GGAGGAGGAAGAGGCTGGGCCCCTGCTGTGTGGGGGCAAGTTCCCA...,0,0.0,1.0,1.0,0.0,0.0,"motif_2,motif_3","[motif_2, motif_3]"
1,1,CAAATACCCTGGGGTGCAATACGACTTATATCTCACGTATTGGAAG...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
2,2,AACTAGGACACAGAAGTTGATCTAACGTAAACATCAAGAGCTTCCT...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
3,3,CACAGCTGGGCCTGGTTGGTCTTTGTCCAGGGAACAATGGAGCGCC...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
4,4,TTGTTTTATTTGTTTGTTGGGGGGCGGCGGGGAGCGACAGGGGAGT...,0,0.0,1.0,1.0,0.0,0.0,"motif_2,motif_3","[motif_2, motif_3]"
...,...,...,...,...,...,...,...,...,...,...
995,995,CTATTATTAAGAAATATACACAATTTTAACTTCAAATATCTCTCAT...,0,0.0,1.0,1.0,0.0,0.0,"motif_2,motif_3","[motif_2, motif_3]"
996,996,ATTGATTCTCACTTGCTTGACTCAAGGGAGGGTTTGATTTTGGTCA...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
997,997,ATGTGGTTCTACCATATAGTTTATCAATTTTAAACAGGTAAAATAT...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
998,998,ATTTTGTTGGTTAGGTGATGGAAGTATGATGCTATTGATATTTCCC...,2,0.0,1.0,0.0,0.0,1.0,"motif_2,motif_5","[motif_2, motif_5]"
999,999,AAGGAAAAGTGAGGAAGTATGGCCATTCCTCTGATAGGACACAAGA...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"

In [21]:
import pickle
data.to_csv('DATA.csv',index=False)
data.to_pickle('DATA.pkl')
data

,seq_no.,seq,module,motif_1,motif_2,motif_3,motif_4,motif_5,motif_string,motif_list
0,0,GGAGGAGGAAGAGGCTGGGCCCCTGCTGTGTGGGGGCAAGTTCCCA...,0,0.0,1.0,1.0,0.0,0.0,"motif_2,motif_3","[motif_2, motif_3]"
1,1,CAAATACCCTGGGGTGCAATACGACTTATATCTCACGTATTGGAAG...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
2,2,AACTAGGACACAGAAGTTGATCTAACGTAAACATCAAGAGCTTCCT...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
3,3,CACAGCTGGGCCTGGTTGGTCTTTGTCCAGGGAACAATGGAGCGCC...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
4,4,TTGTTTTATTTGTTTGTTGGGGGGCGGCGGGGAGCGACAGGGGAGT...,0,0.0,1.0,1.0,0.0,0.0,"motif_2,motif_3","[motif_2, motif_3]"
...,...,...,...,...,...,...,...,...,...,...
995,995,CTATTATTAAGAAATATACACAATTTTAACTTCAAATATCTCTCAT...,0,0.0,1.0,1.0,0.0,0.0,"motif_2,motif_3","[motif_2, motif_3]"
996,996,ATTGATTCTCACTTGCTTGACTCAAGGGAGGGTTTGATTTTGGTCA...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
997,997,ATGTGGTTCTACCATATAGTTTATCAATTTTAAACAGGTAAAATAT...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"
998,998,ATTTTGTTGGTTAGGTGATGGAAGTATGATGCTATTGATATTTCCC...,2,0.0,1.0,0.0,0.0,1.0,"motif_2,motif_5","[motif_2, motif_5]"
999,999,AAGGAAAAGTGAGGAAGTATGGCCATTCCTCTGATAGGACACAAGA...,1,1.0,0.0,0.0,1.0,0.0,"motif_1,motif_4","[motif_1, motif_4]"